.shoplist{
    background-color: #f7f9fa;
    height: 174px;
    width: 365px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
.shoptitle{
    position: absolute;
    width: 190px;
    top:10px;
    font-weight: 400;
    color: #666;
    left: 180px;
}
.shopprice{
    position: absolute;
    width: 190px;
    top:120px;
    font-size: 22px;
    font-weight: 400;
    color: orangered;
    left: 185px;
}
.shoplist:hover{
    border: solid 1px orange;
    background-color: white;
}
.img:hover{
   opacity: 0.8;
}
.shoptitle:hover{
    color: orange;
}