.head{
    width: 100%;
    height: 100%;
    background-image: url("src/assets/headerbg.png");
    background-size: 120%;
}
.headertitle{
    height: 30px;
    background-color: #f5f5f5;
    font-size: 12px;
    align-items: center;
    color: #6C6C6C;
    display: flex;
}
.headertitle span {
    cursor: pointer;
    margin-left: 20px;
}
.headertitle span:hover{
    color: orange;
    transform: scale(1.1);
}
.content{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.bannertitle{
    position: absolute;
    margin-left: -190px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.bannerinfo{
    position: absolute;
    margin-left: -190px;
    margin-top: 40px;
    font-weight: 300;
    color: white;
}